:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* Neutral */
  --paragraphs: hsla(0, 0%, 100%, 0.6);
  --light-background: hsl(0, 0%, 95%);
  /* Typography */
  --font-size: 15px;
  --font-family: "Lexend Deca";
  --font-weight: 400;
  --font-family-heading: "Big Shoulders Display";
  --font-weight-heading: 700;
}

/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap'); */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2em;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: 1.7;
  background-color: var(--light-background);
  min-height: 100vh;


  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  text-transform: uppercase;
  color: var(--light-background);
}

a {
  text-decoration: none;
}

section {
  flex-grow: 1;
  color: var(--paragraphs);
}

.card {
  padding: 2.5em;
  max-width: 300px;
}

.card img {
  width: 4em;
}

.title {
  font-size: 2.2em;
}

.card:first-child {
  background: var(--bright-orange);
  border-radius: 7px 7px 0 0;
}

.card:first-child .btn {
  color: var(--bright-orange);
}

.card:nth-child(2) {
  background: var(--dark-cyan);
}

.card:nth-child(2) .btn {
  color: var(--dark-cyan);
}

.card:last-child {
  background: var(--very-dark-cyan);
  border-radius: 0 0 7px 7px;
}

.card:last-child .btn {
  color: var(--very-dark-cyan);
}

.card:first-child .btn:hover, .card:nth-child(2) .btn:hover, .card:last-child .btn:hover {
  color: var(--light-background);
}

.btn {
  background: var(--light-background);
  padding: .8em 1.8em;
  border: 2px solid var(--light-background);
  border-radius: 40px;
  display: inline-block;
  margin: 2em 0 1em 0;
}

.btn:hover {
  background: none;
  border: 2px solid var(--light-background);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: gray;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body {
    justify-content: center;
  }
  section {
    flex-grow: 0;
    display: flex;
    justify-content: center;
  }

  .btn {
    margin-top: 5em;
  }

  .card:first-child {
    border-radius: 7px 0 0 7px;
  }

  .card:last-child {
    border-radius: 0 7px 7px 0;
  }
}
